.controller-view {
    background: #222428;
    max-width: 14%;
    min-height: calc(100% - 1rem);
    display: flex;
    flex-direction:column;
    padding-inline: 0.1rem;
}
    .controller-view select {
        border-radius: 0.5rem;
        background: #ffc92e;
        margin-bottom: 1rem;
        min-width: 80%;
        padding: 1rem;
    }
    .controller-view ul {
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 80%;
    }